version: '3.8'

services:
  frontend:
    image: ghcr.io/${GITHUB_REPOSITORY}:latest
    container_name: siafrench-frontend
    restart: unless-stopped
    ports:
      - "8080:80"
    healthcheck:
      test: [ "CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:80" ]
      interval: 30s
      timeout: 10s
      retries: 3
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 256M
    networks:
      - siafrench-network

networks:
  siafrench-network:
    external: true
    name: dartsia-backend_siafrench-network
